.view-style {
    max-width: 800px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}

    .view-style h1 {
        background: #28739E;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
    }

    .view-style ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .view-style ul li {
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }

            .view-style ul li .field-style {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 8px;
                outline: none;
                border: 1px solid #B0CFE0;
                -webkit-transition: all 0.30s ease-in-out;
                -moz-transition: all 0.30s ease-in-out;
                -ms-transition: all 0.30s ease-in-out;
                -o-transition: all 0.30s ease-in-out;
            }

                .view-style ul li .field-style:focus {
                    box-shadow: 0 0 5px #B0CFE0;
                    border: 1px solid #B0CFE0;
                }

            .view-style ul li .field-split {
                width: 49%;
            }

            .view-style ul li .field-full {
                width: 100%;
            }

            .view-style ul li input.align-left {
                float: left;
            }

            .view-style ul li input.align-right {
                float: right;
            }

            .view-style ul li textarea {
                width: 100%;
                height: 100px;
            }

    .view-style button,
    .view-style input[type="submit"] {
        -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
        -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
        box-shadow: inset 0px 1px 0px 0px #3985B1;
        background-color: #216288;
        border: 1px solid #17445E;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        padding: 8px 18px;
        text-decoration: none;
        font: 12px Arial, Helvetica, sans-serif;
    }

    .view-style .toggler {
        width: 400px;
    }

    .view-style .start-stop {
        width: 400px;
        background: #109177;
    }
    
        .view-style button:hover,
        .view-style input[type="submit"]:hover {
            background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
            background-color: #28739E;
        }
